/* cover page */
div#cover {
    text-align: center;
    width: 100%;
}

/* navigation page - toc */
ol {
    list-style-type: none;
    padding-left: 0;
}

ol li {
    padding-top: 0.2em;
}

ol li a {
    text-decoration: none;
}

/* chapters & section */
h2 {}
p {}
